@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'guffber-regular';
  src: url('./assets/Fonts/guffber-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-family: 'akira';
  src: url('./assets/Fonts/akira.otf');
}


:root{
    --font-geologica: 'Geologica', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-avenue: 'guffber-regular', sans-serif;
    --font-akira:'akira';
}

body {
    font-family: var(--font-outfit);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.para{
  font-family: var(--font-guffber-regular);
}
.big_heading{
  font-family: var(--font-akira);
}

@keyframes shine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Utility: gradient border using #ffaa40 → #9c40ff → #ffaa40 */
.gradient-border {
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #ffaa40, #9c40ff, #ffaa40);
}