@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Brandon';
  src: url('./assets/Fonts/Brandon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root{
    --font-geologica: 'Geologica', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-brandon: 'Brandon', sans-serif;
}

body {
    font-family: var(--font-outfit);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@keyframes shine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}